/*Обнулення*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

/* Шрифт */
body { font-family: 'Varela Round', sans-serif; }
/*--------------------*/

/* <!---------------- Start Developer Pavlo ----------------> */

/* burger menu */
.side-nav{
  height:100%;
  width:0;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background-color:#111;
  opacity:0.9;
  overflow-x:hidden;
  padding-top:60px;
  transition:0.5s;
}

.side-nav a{
  padding:10px 10px 10px 30px;
  text-decoration:none;
  font-size:22px;
  color:#ccc;
  display:block;
  transition:0.3s;
}

.side-nav a:hover{
  color:#fff;
}

.side-nav .btn-close{
  position:absolute;
  top:0;
  right:22px;
  font-size:36px;
  margin-left:50px;
}

#main{
  transition:margin-left 0.5s;
  overflow:hidden;
}



/* burger menu end */



/* Nav Bar  */

.nav-menu {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 30px;
  flex-shrink: 0;
  position: relative;
}

.open-slide {
  left: 20px;
  position: absolute;
  bottom: 0px;

}

.head-text {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 40px;
}

@media screen and (max-width: 800px) and (min-width: 600px) {
  .head-text {
    top: 90px;
  } 

  .left-menu {
    align-items: flex-start;
  }
  
}

@media screen and (max-width: 500px) {
  .head-text {
    top: 80px;
  } 
}



.left-menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-menu ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  height: 40px;
}

.right-ul {
  justify-content: flex-end;
}


.left-menu ul li {
  padding:0 5%;
  font-family: Lato, serif;
  font-size: 1rem;
}

.left-menu ul li:hover {
  opacity: 0.3;
}

@media screen and (max-width:600px){
  .left-menu ul li:not(.last-nav-item) {display:none}
}

@media(min-width:600px){
  .open-slide{display:none}
}

.apple-btn {
  width: 120px;
  height: 40px;
  border-radius: 20px;
  background-color: blue;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.apple-btn:hover {
  opacity: 0.3;
}

.apple-btn img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 10px;
}

.apple-btn a {
  color: #ffffff;
}



/* Nav Bar End */



/* Header */


.container-bg {
  background: url(../img/Photo.jpg) center center/cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: 100%;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  height: 100%;
  justify-content: space-between;
  padding-top: 10%;
}

.header-content-name{
  font-weight: 900;
  font-size: 1.6rem;
  font-family: Varelo, serif;
  text-align: center;
  margin-bottom: 20px;
}

.header-content-description {
  text-align: center;
  font-family: Lato, serif;
  text-align: center;
  
}

.watch-video {
  width: 206px;
  height: 61px;
  border: solid 1px rgb(114, 78, 78);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: 700;
  font-family: Lato, serif;
  transition: 0.4s ease;
}

.watch-video:hover {
  background-color: blue;
  color: #fff;
  border: none;
}

.watch-video img {
  margin-right: 10px;
  
}

.img-phone {
  width: 15vw;
  min-width: 150px;
}

/* Header  End*/



/* About-Time */

.about-time {
  display: flex;
  width: 100%;
}    

.about-time-all-content {
  display: flex;
  justify-content: center;
  margin: auto;
}

.about-time-left-block {
  width: 50%;
  align-items: center;
  padding: 20px 40px;
}

.about-time-right-block {
  width: 50%;
  padding: 20px 40px;
}

.about-time-content-name {
  font-size: 26px;
  font-family: Lato, serif;
  margin: 30px 0;
}

.about-time-content-text {
  font-size: 18px;
  font-family: Lato, serif;
}


@media screen and (max-width: 600px) {
  .about-time-left-block,
  .about-time-right-block {
    width: 100%;
  }

  .about-time-all-content {
    flex-direction: column;
  }

}
/* About-Time End */
/* <!---------------- End Developer Pavlo ----------------> */



/* <!---------------- Start Developer 2 ----------------> */

/* <!---------------- End Developer 2 ----------------> */



/* <!---------------- Start Developer 3 ----------------> */

/* <!---------------- End Developer 3 ----------------> */



/* <!---------------- Start Developer 4 ----------------> */

/* <!---------------- End Developer 4 ----------------> */