/*Обнулення*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

/* Шрифт */
body { font-family: 'Varela Round', sans-serif; }
/*--------------------*/

/* <!---------------- Start Developer Pavlo ----------------> */

/* burger menu */
.side-nav{
    height:100%;
    width:0;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background-color:#111;
    opacity:0.9;
    overflow-x:hidden;
    padding-top:60px;
    transition:0.5s;
  }
  
  .side-nav a{
    padding:10px 10px 10px 30px;
    text-decoration:none;
    font-size:22px;
    color:#ccc;
    display:block;
    transition:0.3s;
  }
  
  .side-nav a:hover{
    color:#fff;
  }
  
  .side-nav .btn-close{
    position:absolute;
    top:0;
    right:22px;
    font-size:36px;
    margin-left:50px;
  }
  
  #main{
    transition:margin-left 0.5s;
    overflow:hidden;
  }
  
  
  
  /* burger menu end */
  
  
  
  /* Nav Bar  */
  
  .nav-menu {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 30px;
    flex-shrink: 0;
    position: relative;
  }
  
  .open-slide {
    left: 20px;
    position: absolute;
    bottom: 0px;
  
  }
  
  .head-text {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40px;
  }
  
  @media screen and (max-width: 900px) and (min-width: 600px) {
    .head-text {
      top: 90px;
    } 
  
    .left-menu {
      align-items: flex-start;
    }
    
  }
  
  @media screen and (max-width: 500px) {
    .head-text {
      top: 80px;
    } 
  }
  
  
  
  .left-menu {
    width: 1120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .left-menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    height: 40px;
  }
  
  .right-ul {
    justify-content: flex-end;
  }
  
  
  .left-menu ul li {
    padding:0 5%;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
  }
  
  .left-menu ul li a:hover {
    opacity: 0.3;
  }
  
  .left-menu ul li a {
      font-family: 'Lato', sans-serif;
      font-size: 16px;
      color: #26272d;
    }
  
    .left-menu ul li a:visited {
      color: #26272d;
    }
  
    .left-menu ul li a:active {
      color: #26272d;
    }
  
  @media screen and (max-width:600px){
    .left-menu ul li:not(.last-nav-item) {display:none}
  }
  
  @media(min-width:600px){
    .open-slide{display:none}
  }
  
  .apple-btn {
    /* width: 120px;
    height: 40px; */
    border-radius: 21px;
    background-color: #267df4;
    /* align-items: center;
    display: flex;
    justify-content: center;
    text-align: center; */
    color: #ffffff;
    font-size: 16px;
    padding: 14px 24px 14px 18px;
  }
  
  .apple-btn:hover {
      background-color: #6fc754;
  }
  
  .apple-btn img {
    /* width: 1.5rem;
    height: 1.5rem; */
    margin-right: 10px;
    vertical-align: middle;
  }
  
  /* .apple-btn a {
    color: #ffffff;
  } */
  
  
  
  /* Nav Bar End */
  
  
  
  /* Header */
  
  .header-content {
      padding: 0 10px;
      text-align: center;
      height: 1000px;
      background: url('../img/ImgPavlo/Photo.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: relative;
  }
  
  .img-phone-container {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%);
  }
  
  .img-phone-container img {
      max-width: 100%;
  }
  
  .header-content-name {
      font-size: 62px;
      color: #26272d;
      margin: 128px 0 0 0;
  }
  
  .header-content-description {
      font-size: 20px;
      color: #8c8f94;
      max-width: 780px;
      margin: 40px auto 0;
      font-family: 'Lato', sans-serif;
  
  }
  
  .watch-video {
      margin: 62px 0 0 0;
      font-size: 16px;
      color: #26272d;
      font-family: 'Lato', sans-serif;
      padding: 18px 48px 18px 42px;
      background: #edf0f2;
      border: 1px solid #d8dbdd;
      border-radius: 25px;
  }
  
  .watch-video:hover {
      background-color: #6fc754;
      color: #ffffff;
      border: 1px solid #6fc754;
  
  }
  
  .play_icon {
      vertical-align: middle;
      margin: 0 15px 0 0;
  }
  
  @media(max-width: 350px) {
      .header-content-name {
          font-size: 58px;
      }
  }
  
  /* 
  .container-bg {
    background: url(../img/ImgPavlo/Photo.jpg) center center/cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: 100%;
  }
  
  .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    height: 100%;
    justify-content: space-between;
    padding-top: 10%;
  }
  
  .header-content-name{
    font-weight: 900;
    font-size: 1.6rem;
    font-family: Varelo, serif;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .header-content-description {
    text-align: center;
    font-family: Lato, serif;
    text-align: center;
    
  }
  
  .watch-video {
    width: 206px;
    height: 61px;
    border: solid 1px rgb(114, 78, 78);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: 700;
    font-family: Lato, serif;
    transition: 0.4s ease;
  }
  
  .watch-video:hover {
    background-color: blue;
    color: #fff;
    border: none;
  }
  
  .watch-video img {
    margin-right: 10px;
    
  }
  
  .img-phone {
    width: 15vw;
    min-width: 150px;
  } */
  
  /* Header  End*/
  
  
  
  /* About-Time */
  
  .about-time {
      max-width: 1120px;
      margin: 0 auto;
      padding: 120px 10px 40px;
  }
  
  .about-time-all-content {
      display: flex;
      justify-content: space-between;
  }
  
  .about-time-content-name {
      font-size: 26px;
      color: #26272d;
      margin: 45px 0 0 0;
      font-family: 'Lato', sans-serif;
  }
  
  .about-time-content-text {
      font-family: 'Lato', sans-serif;
      font-size: 18px;
      color: #8c8f94;
      max-width: 495px;
  }
  
  .about-time-content-text.first {
      margin: 48px 0 0 0;
  }
  
  .about-time-content-text.second {
      margin: 38px 0 0 0;
  }
  
  .line-about-time {
    margin: 126px auto 0;
    max-width: 1170px;
    height: 1px;
    opacity: 0.05;
    background-color: #26272d;
    border-radius: 0.5px;
  }

  @media(max-width: 1160px) {
      .about-time-all-content {
          display: block;
      }
  
      .about-time-left-block,
      .about-time-right-block {
          max-width: 500px;
          margin: 0 auto;
      }
  
      .about-time-right-block {
          margin: 100px auto 0;
      }
  
      .about-time {
          padding: 50px 10px;
      }
  
      .about-time-content-text.first {
          margin: 38px 0 0 0;
      }
      
      .about-time-content-text.second {
          margin: 28px 0 0 0;
      }
  }
  
  /* .about-time {
    display: flex;
    width: 100%;
  }    
  
  .about-time-all-content {
    display: flex;
    justify-content: center;
    margin: auto;
  }
  
  .about-time-left-block {
    width: 50%;
    align-items: center;
    padding: 20px 40px;
  }
  
  .about-time-right-block {
    width: 50%;
    padding: 20px 40px;
  }
  
  .about-time-content-name {
    font-size: 26px;
    font-family: Lato, serif;
    margin: 30px 0;
  }
  
  .about-time-content-text {
    font-size: 18px;
    font-family: Lato, serif;
  }
  
  
  @media screen and (max-width: 600px) {
    .about-time-left-block,
    .about-time-right-block {
      width: 100%;
    }
  
    .about-time-all-content {
      flex-direction: column;
    }
  
  } */
  /* About-Time End */

/* <!---------------- End Developer Pavlo ----------------> */



/* <!---------------- Start Developer 2 ----------------> */

.container {
    max-width: 1620px;
    margin: 0 auto;
    padding: 0 10px;
}

.phone {
    padding: 68px 0 42px 0;
}

.phoneBody {
    display: flex;
    justify-content: center;
    align-items: center;
}

.protected {
    padding: 0 0 0 104px;
}

.protected h2 {
    font-size: 42px;
    color: #26272d;
}

.protected span {
    display: block;
}

.protected p {
    font-size: 20px;
    color: #8c8f94;
    font-family: 'Lato', sans-serif;
    max-width: 470px;
}

.phoneP1 {
    margin: 73px 0 0 0;
}

.phoneP2 {
    margin: 40px 0 0 0;
}

.phoneScreen {
    width: 50%;
    text-align: center;
}

.phoneScreen img {
    max-width: 100%;
}

.phoneButton {
    margin: 75px 0 0 0;
}

.hack {
    background-color: #267df4;
    border-radius: 21px;
    padding: 14px 26px;
    font-size: 16px;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
}

.hackArrow {
    vertical-align: middle;
    margin: 0 0 0 49px;
}

.hack:hover {
    background: #6fc754;
}

.learnMore {
    margin: 0 0 0 20px;
    border: 1px solid #ebebec;
    border-radius: 21px;
    background: transparent;
    font-size: 16px;
    color: #26272d;
    font-family: 'Lato', sans-serif;
    padding: 14px 32px;
}

.learnMore:hover {
    background-color: #6fc754;
    color: #ffffff;
    border: 1px solid #6fc754;
}

@media(max-width: 1000px) {
    .phoneScreen {
        display: none;
    }

    .protected {
        padding: 0 0 0 0;
    }
}


@media(max-width: 410px) {
    .hackArrow {
        display: none;
    }
    .hack,
    .learnMore {
        padding: 14px 24px;
    }

}

.everywhere {
    padding: 206px 0 198px 0;
}

.everywhereBody {
    display: flex;
    justify-content: center;
    align-items: center;
}

.everywhereImg {
    text-align: center;
}

.everywhereImg img {
    max-width: 100%;
}

.everywhereText {
    padding: 0 0 0 216px;
    margin: 0 75px 0 0;
}

.everywhereText h2 {
    font-size: 42px;
    color: #26272d;
    max-width: 290px;
}

.everywhereText p {
    font-size: 20px;
    color: #8c8f94;
    font-family: 'Lato', sans-serif;
    max-width: 470px;
}

.everywhereP1 {
    margin: 64px 0 0 0;
}

.everywhereP2 {
    margin: 40px 0 0 0;
}

.everywhereText h6 {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #26272d;
    margin: 68px 0 0 0;
}

.partners {
    margin: 31px 0 0 0;
}

.partners img:last-child {
    margin: 0 0 0 31px;
}

@media(max-width: 1200px) {
    .everywhereImg {
        display: none;
    }

    .everywhereText {
        padding: 0 0 0 0;
        margin: 0 auto;
    }

    .everywhere {
        padding: 120px 0 100px 0;
    }
}
/* <!---------------- End Developer 2 ----------------> */



/* <!---------------- Start Developer 3 ----------------> */
.interface {
    padding: 143px 10px 123px;
    background-color: #f5f5f8;
    text-align: center;
}

.interface h2 {
    font-size: 42px;
    color: #26272d;
}

.interface hr {
    width: 50px;
    height: 2px;
    background-color: #267df4;
    border-radius: 1px;
    margin: 47px auto 0;
}

.interface p {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #8c8f94;
    margin: 43px 0 0 0;
}

.interfaceScreen {
    margin: 46px auto 0;
	display: flex;
	justify-content:center;
    align-items: center; 
    max-width: 0;
    max-width: 1900px;
    padding: 0 50px;
}

.interfaceScreen .slick-track {
    display: flex;
    align-items: center;
}

.interfaceScreen .slick-list {
    overflow: hidden;
}

.screenItem {
    margin: 0 15px 0 15px;
    height: 568px;
    width: 320px;
}

.screenItem > img{
    max-height: 100%;
    max-width: 100%;
}

.screenItem.slick-center {
    height: 753px; 
    width: 369px;
} 

@media(max-width: 650px) {
    .screenItem {
        margin: 0 3px;
        width: 220px;
        height: 380px;
    }

    .screenItem.slick-center {
        width: 240px;
        height: 490px;
    } 

    .interfaceScreen {
        padding: 0 3px;
    }
}

.screenItem:last-child,
.screenItem:first-child {
    margin: 0 0 0 0;
}

.screenItem img {
    max-width: 100%;
}

@media(max-width: 1500px) {
    .screenItem:nth-child(1),
    .screenItem:nth-child(5) {
        display: none;
    }
}

@media(max-width: 800px) {
    .screenItem:nth-child(2),
    .screenItem:nth-child(4) {
        display: none;
    }
}

.download {
    padding: 75px 10px 131px;
    text-align: center;
    background-color: #f5f5f8;
}

.download h6 {
    opacity: 0.5;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #3a3d4b;
}

.download h6 > span {
    font-weight: 700;
}

.download h2 {
    font-size: 42px;
    color: #3a3d4b;
    margin: 37px 0 0 0;
}

.emailForm {
    border: 1px solid #cacbce;
    border-radius: 25px;
    margin: 47px auto 0;
    max-width: 502px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.emailForm .emailInput {
    padding: 16px 0 16px 26px;
    border-radius: 25px;
    font-size: 16px;
    color: #3a3d4b;
    font-family: 'Lato', sans-serif;
    display: block;
    width: 330px;
    background: transparent;
}

.emailForm .emailInput:focus  {
    border: 2px solid;
}



.emailInput::-webkit-input-placeholder { /* Chrome */
    color: #3a3d4b;

}
.emailInput:-ms-input-placeholder { /* IE 10+ */
    color: #3a3d4b;

}
.emailInput::-moz-placeholder { /* Firefox 19+ */
    color: #3a3d4b;

    opacity: 1;
}
.emailInput:-moz-placeholder { /* Firefox 4 - 18 */
    color: #3a3d4b;
    opacity: 1;
}

.emailForm input[type='submit'] {
    background-color: #6fc754;
    background-image: url('../img/taras-img/png/emailArrow.png');
    background-repeat: no-repeat;
    background-position: 127px 19px;
    border-radius: 21px;
    display: block;
    width: 164px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #ffffff;
    margin: 4px;
    padding: 14px 55px 14px 30px;
}



.emailForm input[type='submit']:hover {
  cursor: pointer;
}




@media(max-width: 530px) {
    .emailForm input[type='submit'] {
        background-image: none;
    }

    .emailForm input[type='submit'] {
    padding: 14px 10px 14px 10px;

    }

    .emailForm .emailInput {
        padding: 16px 5px 16px 5px;
    }


}

.downloadFrom {
    opacity: 0.3;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #3a3d4b;
    margin: 66px 0 0 0;
}

.appStore {
    background-color: #131315;
    border-radius: 30px;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
    padding: 12px 41px 12px 69px;
    background-image: url('../img/taras-img/png/appleLink.png');
    background-repeat: no-repeat;
    background-position: 27px;
    margin: 22px 0 0 0;
}

.appStore span {
    font-size: 23px;
    display: block;
}

.customersReviews {
    padding: 0 10px;
    cursor: pointer;
}

.custumersList {
    max-width: 0;
    position: relative;
    max-width: 1300px;
    padding: 0 70px;
    margin: 132px auto 0;
}

.custumersList .slick-track {
    display: flex;
    align-items: center;
}

.custumersList .slick-list {
    overflow: hidden;
}

.custumersList .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -20.5px 0 0 0;
    z-index: 10;
    font-size: 0;
    width: 22px;
    height: 41px;
}

.custumersList .slick-arrow.slick-prev {
    left: 0;
    background: url('../img/taras-img/sliderCustomers/arrowLeft.png') 0 0 / 100% no-repeat;
}

.custumersList .slick-arrow.slick-next {
    right: 0;
    background: url('../img/taras-img/sliderCustomers/arrowRight.png') 0 0 / 100% no-repeat;
}

.custumersItem {
    width: 90px;
    height: 90px;
    text-align: center;
    margin: 0 130px;
    opacity: 0.2;
}

.custumersItem img {
    max-width: 100%;
}

.custumersItem.slick-center {
    height: 130px;
    width: 130px;
    opacity: 1;
} 

.custumersItem.slick-center > img{
    height: 130px;
    width: 130px;
} 

.reviewsList .slick-track {
    display: flex;
    align-items: center;
}

.reviewsList .slick-list {
    overflow: hidden;
}

.reviewsList {
    max-width: 555px;
    margin: 75px auto 0;
    text-align: center;
}

.reviewsItem {
    opacity: 0;
}

.reviewsItem.slick-active {
    opacity: 1;
    transition: all 1s ease-out;
}

.reviewsItem h3 {
    font-family: 'Lato';
    font-size: 32px;
    font-weight: 300;
    color: #26272d;
}

.reviewsItem p {
    margin: 48px 0 0 0;
    font-size: 20px;
    color: #8c8f94;
    font-family: 'Lato';
}

.rating {
    display: flex;
    justify-content: center;
    margin: 30px 0 0 0;
}

.ratingStars {
    margin: 0 8px 0 0;
}

.ratingStars:last-child {
    margin: 0 0 0 0;
}

.reviewsItem h5 {
    font-family: 'Lato';
    font-size: 12px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #26272d;
    margin: 68px;
}

@media(max-width: 1000px) {
    .custumersItem {
        margin: 0 200px;
    }

}


/* <!---------------- End Developer 3 ----------------> */



/* <!---------------- Start Developer 4 ----------------> */

.container-chooser {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 900px;
  background-color: #f4f4f5;
}

.chooser-active {
  width: 340px;
  height: 550px;
  box-shadow: 10px 28px 50px rgba(92, 95, 101, 0.2);
  border-radius: 10px;
  background-color: #ffffff;
  margin-top: 159px;
}

.subscribe-container {
  min-height: 350px;
}

.chooser-name {
  color: #26272d;
  font-family: "Varela Round";
  font-size: 42px;
  font-weight: 400;
  max-width: 260px;
  margin-top: 206px;
}

.chooser-yourself {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  margin: 67px 0 24px 0;
}

.chooser-description {
  color: #8c8f94;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 400;
  max-width: 370px;
}

.chooser-pro,
.chooser-started {
  margin-top: 179px;
  width: 340px;
  height: 510px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.download-1 {
  padding: 89px 10px 86px;
  text-align: center;
}

.download-1 h2 {
  font-size: 42px;
  color: #26292c;
}

.emailForm-1 {
  border: 1px solid #d3d4d4;
  border-radius: 25px;
  margin: 50px auto 0;
  max-width: 562px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.emailForm-1 .emailInput-1 {
  padding: 18px 18px 18px 26px;
  border-radius: 25px;
  font-size: 16px;
  color: #26292c;
  font-family: "Lato", sans-serif;
  display: block;
  width: 420px;
  background: transparent;
  border: 1px solid transparent;
}

.emailForm-1 .emailInput-1:focus {
  border: 1px solid;
}

.emailInput-1::-webkit-input-placeholder {
  /* Chrome */
  color: #9a9c9d;
}
.emailInput-1:-ms-input-placeholder {
  /* IE 10+ */
  color: #9a9c9d;
}
.emailInput-1::-moz-placeholder {
  /* Firefox 19+ */
  color: #9a9c9d;

  opacity: 1;
}
.emailInput-1:-moz-placeholder {
  /* Firefox 4 - 18 */
  color: #9a9c9d;
  opacity: 1;
}

.emailForm-1 input[type="submit"] {
  background-color: #6fc754;
  border-radius: 21px;
  display: block;
  width: 132px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #ffffff;
  margin: 4px;
  padding: 14px 33px;
}

.emailForm-1 input[type="submit"]:hover {
  cursor: pointer;
}

@media (max-width: 425px) {
  .emailForm-1 input[type="submit"] {
    padding: 18px 10px 18px 10px;
    font-size: 14px;
  }

  .emailForm-1 .emailInput {
    padding: 16px 5px 16px 10px;
    font-size: 14px;
  }
}

.downloadFrom-1 {
  font-size: 14px;
  color: #8c8f94;
  margin: 28px;
}

.chooser-description {
  color: #8c8f94;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 40px;
}

.chooser-talk {
  color: #8c8f94;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.buttons-choosers {
  margin-bottom: 75px;
}

.subscribe-description {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #8c8f94;
}

.footer-about-container {
  display: flex;
  justify-content: space-around;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-about {
  min-height: 550px;
  max-width: 1150px;
  margin: 0 auto;
}

.providence-name {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  margin-bottom: 34px;
  margin-top: 90px;
}

.providence-description {
  color: #8c8f94;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  max-width: 245px;
  margin-bottom: 32px;
}

.apple-logo {
  margin-bottom: 40px;
}

.social-img {
  padding-right: 28px;
  margin-bottom: 171px;
}

.icons-block {
  margin-right: -28px;
}

.learn-more {
  margin-top: 90px;
}

.Learn-more-name {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 26px;
}

.Learn-more-descrittion {
  font-size: 16px;
  font-weight: 400;
  color: #8c8f94;
  padding-bottom: 15px;
}

.footer-links {
  margin-bottom: 36px; 
}

.footer-visit {
  color: #8c8f94;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.footer-made {
  color: #26272d;
  font-family: "Lato", sans-serif;
  font-size: 9px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.9px;
}

.Divdier {
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background-color: #26292c;
  opacity: 0.05;
  margin-bottom: 40px;
}

.footer-links img {
  vertical-align: middle;
}

@media screen and (max-width: 680px) {
  .footer-about-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-links {
    flex-direction: column;
  }

  .footer-visit {
    margin-bottom: 10px;
  }
  .providence-name {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    margin-bottom: 34px;
    margin-top: 40px;
  }

  .providence-description {
    color: #8c8f94;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    max-width: 245px;
    margin-bottom: 32px;
  }

  .social-img {
    padding: 14px;
    margin-bottom: 0px;
  }

  .icons-block {
    margin-right: 0;
  }

  .learn-more {
    margin-top: 45px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .Learn-more-name {
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 26px;
  }

  .Learn-more-descrittion {
    font-size: 16px;
    font-weight: 400;
    color: #8c8f94;
    padding-bottom: 15px;
  }

  .footer-links {
    margin-bottom: 36px;
  }

  .newprovidence {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* <!---------------- End Developer 4 ----------------> */